<!-- template - Play video page -->  


<div id="videopage">
<header>
	<h5><b><span title="Video Title-[{{ title }}]"style=""> {{ title }}</span></b></h5>
</header>




   


   <div class="mydiv">
      <div class="flex-video widescreen vimeo" > 
        <video src="{{ videoURL96 }}" id="pandoraVideo" poster="{{ iconURL }}" controls></video>
	<!-- <iframe src="{{ videoURL96 }}" id="pandoraVideo" poster="{{ iconURL }}" controls width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>


	</iframe> --> 
   </div></div>

   


</div>
<br>
    <a href="#video/{{ id }}/info"><span class="alert radius label">
	<b>[ Video Info ]</b></span></a>&nbsp;&nbsp;&nbsp;
		    <a href="#video/{{ id }}/layers/transcripts"><span class="alert radius label"><b>[ Transcripts ]</b></span></a>
        <a href="#video/{{ id }}/layers/descriptions"><span class="alert radius label"><b>[ Descriptions ]</b></span></a>
		</br></br>



