
  <div class="signinDiv">
      <form id="signinForm">
        <label for="txt_User">User Name:</label>
        <input id="txt_User" type="text"  width=15px/>
        <br>


        <label for="txt_Password">Password:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="txt_Password" type="password" /><br>
         <br><input class="button" value="Ok" type="submit" />
         
   
      </form>
    <button id="signinReset" type="reset" class="button"  value="reset">Reset</button>
  </div>
   