
  <div id="signinDiv">
      <form id="signinForm">
        <label for="txt_User">User Name:</label>
        <input id="txt_User" type="text"  width=15px/>


        <label for="txt_Password">Password:</label>
        <input id="txt_Password" type="password" />
        <input class="button" value="Ok" type="submit" />
        <button id="signinReset" type="reset" class="button"  value="reset">Reset</button>     
      </form>
    
  </div>
   