<!-- template for List of videos page   -->  



    

 <div class="row">

	

	<div class="large-2 small-4 columns" id="video-icons">
		<a href="#list/{{ idUrl }}">    
		   <img src="{{ iconURL }}"alt="video" title="Get videos" width="100px"/ ></a>
	</div></br>
     

	<div class="large-10 small-8 columns">
			<div id="data">
		<h3><a href="#list/{{ idUrl }}" style="color: #000000">{{ name }}</h3></a>
		Name: <a href="#list/{{ idUrl }}" style="color: orange">{{ name }}
		(Videos: {{ items }})</a></br></br>
		<hr>
	</div>
	</div>
 </div>


   




