<!--template for video information page  -->

<div id="pad">

<div class="videoItem">


	<div class="row">
		<div class="large-2 small-4 columns">
			<a href="#video/{{ id }}/videoplay"><img src="{{ iconURL }}" /></a></br></br>

		</div>

		<div class="large-10 small-8 columns">
            
			<h3><a href="#video/{{ id }}/videoplay" class="main-links"> <b>{{ title }}</b></h3></a>



		    <!--<span class="sub-headings"><b>Name : </b></span> <a href="#video/{{ id }}/videoplay" class="sub-links content-headings"><b>{{ title }}</b></a></br></br>-->

    			
			
		</div>

    	<div class="videoButtons">
			<a href="#video/{{ id }}/info"><span class="radius label"><b>[ Video Info ]</b></span></a>
			    
	
			<a href="#video/{{ id }}/layers/transcripts"><span class="radius label"><b>[ Transcripts ]</b></span></a>
	

			<a href="#video/{{ id }}/layers/descriptions"><span class="radius label"><b>[ Descriptions ]</b></span></a>
		</div>

</div>

</div>
<hr />
<br />

