<!-- template for List of videos page with pagination -->  

<div class="paginationInfo">

<div class="Titlelist headings">

   {{ title }}

</div>



    
<br/>

<!-- <span class="secondary label round"><b>Total Videos : {{ count }}&nbsp;&nbsp;&nbsp;

Displaying Videos : {{ start }} - {{ end }}</b></span></br></br>
 --></div>
<br /><hr />

	
<div id="data">
    <div class="videosList">

    </div>
    
</div>




<div class="paginationInfo">
<!-- <span class="secondary label round"><b>Total Videos : {{ count }}&nbsp;&nbsp;&nbsp;

Displaying Videos : {{ start }} - {{ end }}</b></span></br></br>
 -->
</div>
</br>

<nav id="footer">
    <ul>

    <li>{{#if prev }}
            <a href="#list/{{ id  }}/{{ prev }}"><span class="radius label">Prev</span></a>
        {{/if }}
    </li>

    <li>
        <span class="label round">Page : {{ page }}</span>
    </li>

    <li>{{#if next }}
        <a href="#list/{{ id }}/{{ next }}"><span class="radius label">Next</span></a>
        {{/if }}
    </li>
    </ul>
    <ul><li><span class="secondary label round">Total Videos : {{ count }}&nbsp;&nbsp;&nbsp;

Displaying Videos : {{ start }} - {{ end }}</span></li></ul>
</nav>
