<!-- template -Search Video page with Pagination -->  

<div class="searchedFor">
    <span class="content-headings"><b>Results for : "<span class="sub-title">{{ queryString }}</span>"</b></span>
    <div id="down-arrow">
        <a href="#Top"><i class="fi-arrow-down icon-style" ></i></a>
        <h2><a id="Down"></a></h2>
    </div>
</div>
</br>
<div class="paginationInfo">
    <span class="sub-headings"><b><span class="content-headings">(Total results:</span>{{ count }} &nbsp;&nbsp;&nbsp;<span class="content-headings"> Displaying results: </span> {{ start }} - {{ end }})</b> </span></br></br>
    {{#if prev }}
        <a href="#search/{{ queryString }}/{{ prev }}"><span class="radius label">Prev</span></a>
    {{/if }}
    &nbsp;&nbsp;<span class="sub-headings"><b>Page : {{ page }}</b></span>&nbsp;&nbsp;
    {{#if next }}
        <a href="#search/{{ queryString }}/{{ next }}"><span class="radius label">Next</span></a>
    {{/if }}</br>
</div>

<div id="data">
<div class="videosList">

</div>
</div>


<div id="top-arrow">
    <h2><a id="Top"></a></h2>
    <a href="#Down"><i class="fi-arrow-up icon-style"></i></a>
</div>



<div class="searchedFor">
    <span class="content-headings"><b>Results for : "<span class="sub-title">{{ queryString }}</span>"</b></span>
    
</div>
</br>
<div class="paginationInfo">
    <span class="sub-headings"><b><span class="content-headings">(Total results:</span>{{ count }} &nbsp;&nbsp;&nbsp;<span class="content-headings"> Displaying results: </span> {{ start }} - {{ end }})</b> </span></br></br>
    {{#if prev }}
        <a href="#search/{{ queryString }}/{{ prev }}"><span class="radius label">Prev</span></a>
    {{/if }}
    &nbsp;&nbsp;<span class="sub-headings"><b>Page : {{ page }}</b></span>&nbsp;&nbsp;
    {{#if next }}
        <a href="#search/{{ queryString }}/{{ next }}"><span class="radius label">Next</span></a>
    {{/if }}</br>
</div>
</br>