<!--template for video information page  -->

<div id="pad">

<div class="videoItem">


	<div class="row">
		<div class="large-2 small-4 columns">
			<a href="#video/{{ id }}/videoplay"><img src="{{ iconURL }}"  width="100px"/></a></br></br>

		</div>

		<div class="large-10 small-8 columns">
            
			<h3><a href="#video/{{ id }}/videoplay" class="main-links"> <b>{{ title }}</b></h3></a>



		    <span class="sub-headings"><b>Name : </b></span> <a href="#video/{{ id }}/videoplay" class="sub-links content-headings"><b>{{ title }}</b></a></br></br>


		    <dl class="sub-nav"> 
		    	<dd class="label radius">
		    		<a href="#video/{{ id }}/info">[ Video Info ]</a>
		    	</dd> 
		    	<dd class="label radius">
		    		<a href="#video/{{ id }}/layers/transcripts">[ Transcripts ]</a>
		    	</dd> 
		    	<dd class="label radius">
		    		<a href="#video/{{ id }}/layers/descriptions">[ Descriptions ]</a>
		    	</dd> 
		    </dl>
			<hr>
			
		</div>
</div>

</div>

</br>