<!-- template for List of videos page with pagination -->  

<div class="paginationInfo">

<div class="Titlelist">
   <span class="secondary radius label title">{{ id }}</span>
</div>

<span class="secondary radius label">Total Videos: ({{ count }})</span>
</br>

 <span class="secondary radius label">Displaying Videos : {{ start }} - {{ end }}</span></br>
    {{#if prev }}
        <a href="#list/{{ id  }}/{{ prev }}"><span class="alert radius label">Prev</span></a>
    {{/if }}
    <span class="radius label">Page:{{ page }}</span>
    {{#if next }}
        <a href="#list/{{ id }}/{{ next }}"><span class="alert radius label">Next</span></a>
    {{/if }}
</div>



	
<div id="data">
    <div class="videosList">

    </div>
</div>

