<!-- template for List of videos page   -->  



    

 <div class="row">

	

	<div class="large-2 small-4 columns" id="video-icons">

		<a href="#list/{{ idUrl }}">    
		
		
		   <img src="{{ iconURL }}"  width="100px"/ ></a>
	</div></br>
     

	<div class="large-10 small-8 columns">
			<div id="data">









		<a href="#list/{{ idUrl }}" class="main-links headings"><b>{{ name }}</b></a>
		<br/>
		<span class="sub-headings"> Name: </span> <a href="#list/{{ idUrl }}" class="sub-links content-headings"><b>{{ name }}</b></a>
		<a href="#list/{{ idUrl }}" class="main-links"><b>(Videos: {{ items }})</b></a></br></br>
		<hr>
	</div>
	</div>
 </div>

</br>
   




