<!-- template for Video Information Page(in detail ) -->  

<div id="pad">

<div class="row">
<div class="large-2 small-4 columns" id="video-icons">
	<a href="#video/{{ id }}/videoplay">
	<img src="{{ iconURL }}" width="300px"/>
	</a></br></br>
	<a href="#video/{{ id }}/videoplay"><b><i class="fi-play-video icon-style"></i></b></a>
</br><br>
	<a href="#video/{{ id }}/layers/transcripts"><span class="radius label"><b><pre>[  Transcripts ]</pre></b></span></a>
</br><br>
	<a href="#video/{{ id }}/layers/descriptions"><span class="radius label"><b><pre>[ Descriptions ]</pre></b></span></a>
</div>




<!-- template for Video info page  with Project,Topic,Location,Date,Language,Director,Summary show not available if detail not found -->  
 <div class="large-10 small-8 columns">	
	<div id= "data">
		<div class="panel radius">
		<a href="#video/{{ id }}/videoplay" class="main-links">
		<span class="sub-title"><b>Title : </b></span>{{ title }}</a></br></br>
          


		<span class="sub-title"><b>Project :</b></span> 
				{{#if project }} 
					{{ project }}
										{{ else }} 
							Not available  
				{{/if}}</br></br>

		<span class="sub-title"><b>Topic :</b></span> 
					{{#if topic }} 
							{{ topic }}	
						{{ else }} 
							Not available  
					{{/if}}</br></br>

		<span class="sub-title"><b>Location :</b></span> 
					{{#if location }} 
					{{ location }}		
						{{ else }} 
								Not available  
					{{/if}}</br></br>

		<span class="sub-title"><b>Date :</b></span> 
					{{#if date }}                           
						{{ date }}	
						{{ else }} 
								Not available  
					{{/if}}</br></br>

		<span class="sub-title"><b>Language :</b></span> 
					{{#if language }} 
						{{ language }}		
						{{ else }} 
								Not available  
					{{/if}}</br></br>

		<span class="sub-title"><b>Director :</b></span>
						{{#if director }} 
						{{ director }}		
								{{ else }} 
									Not available  
						{{/if}}</br></br>

		<span class="sub-title"><b>Summary :</b></span>
					{{#if summary }} 
							{{{ summary }}}
							{{ else }}
								Not available  
					{{/if}}</br></br>

		<span class="sub-title"><b>Link :</b> </span><a target="_blank" href="{{ shareURL }}">{{ shareURL }}</a>
	</div>				
	</div>

</div>

</div>

</div>

</br>