<header><h3><b>Title: {{ title }}</b></h3></header>

<a href="#video/{{ id }}/videoplay">
<img src="{{ iconURL }}" width="100px"/>
</a>
<div id= "data">
<p><b>Location:</b> {{ location }}</p>
<p><b>Date:</b> {{ date }} </p> 
<p><b>Language:</b> {{ language }} </p>
<p><b>Director:</b> {{ director }} </p>
<p><b>Topic:</b> {{ topic }} </p>
<p><b>Summary:</b> {{{ summary }}} </p>
<p><b>License:</b> {{{ license }}} </p>
<p><b>Source:</b> {{ source }} </p>
<p><b>Project:</b> {{ project }} </p>
</div>



