*{
		margin: 0px;
		padding: 0px;	
	}
	header{
		display: block;
	}
	h3{
		font: 20px bold Tahoma;
	}
	body{
		text-align: center;
	}
	#data{
		margin: 20px auto;
		text-align: left;
	}
	#signinDiv
	{
		border: 1px solid black;
		width: 500px;
		height: 250px;
		margin: 20px auto;
		padding: 20px;
		text-align: center;
	}
	img{
		border:1px solid #;
		border-radius: 15px;
		box-shadow:rgb(110,110,110) 8px 8px 8px;
	}
	#pad{
		padding-top: 10px;
		text-align: left;
	}
	body{
		background-color: #F0F8FF;
		font: Tahoma;
	}